body {
    font-family: "Open sans", sans-serif;
    color: #115c9b;
  }
  
  h1,
  h3,
  h4 {
    font-family: "Dosis", sans-serif;
  }
  
  .team-member {
    background: #1f76bd;
    color: #fff;
    text-align: center;
    padding-bottom: 15px;
    border: 1px solid #1f76bd;
  }
  .team-member .img {
    width: 100%;
  }
  h1 {
    font-weight: bold;
  }


img{
    height: 500px;
    width: 400px;
}