header{
    background-color: white;
    color: black;
    height: 10%vh;
    text-align: center;
    es vertical height
}
h1{margin=0}
main{
    background-color: white;
    color: black;
    height: 10%vh;
    vh es vertical height
}
footer{
    background-color: white;
    color: black;
    height: 10%vh;
    vh es vertical height
}