<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Tangamandapio | contactenos</title>
    <link rel="stylesheet" href="{{url_for ('static', filename = 'css/contact.css')}}">
</head>
<body>
  <div id="wrapper">
    <div class="box">
      <div class="main-container">
        <h1>Sobre nosotros</h1>
        <h3>Somos un hospital que inicio operacion en 1990 y nos hemos distinguido por siempre ser los mejores 
            en lo que hacemos, comenzando desde oftalmologia, incurcionando en endocrinologia y fisioterapia en los ultimos años
            nos enorgullecemos de nuestro equipo de trabajo e instalaciones
    
            Fundado por un mensajero hemos llegado en tan solo 30 años a ser una de las clinicas mas reconocidas del pais, incluso
            teniendo reconocimientos por fuera del pais y generando "turismo de la salud" desde nuestros comienzos</h3>
            <a class="btn btn-1" href="/" >Inicio</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>