<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Tangamandapio | contactenos</title>
    <link rel="stylesheet" href="{{url_for ('static', filename = 'css/contact.css')}}">
</head>
<body>
  <div id="wrapper">
    <div class="box">
      <div class="main-container">
        <div class="left-cl">
          <div class="button-back"><span><svg width="26px" height="26px" viewBox="63 67 26 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <!-- Generator: Sketch 42 (36781) - http://www.bohemiancoding.com/sketch -->
              <desc>Created with Sketch.</desc>
              <defs></defs>
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(64.400240, 68.400000)" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M11.4176,0 C5.1104,0 0,5.1152 0,11.4216 C0,17.7304 5.1104,22.8392 11.4176,22.8392 C17.724,22.8392 22.8384,17.7304 22.8384,11.4216 C22.8384,5.1152 17.724,0 11.4176,0 L11.4176,0 Z" id="Stroke-1" stroke="#FFFFFF"></path>
                  <polyline id="Stroke-3" stroke="#FFFFFF" points="10.46576 16.58848 5.67376 11.79648 10.46576 7.00448"></polyline>
                  <path d="M17.26984,11.79656 L5.67384,11.79656" id="Stroke-5" stroke="#FFFFFF"></path>
              </g>
          </svg></span></div>
          <div class="diagonal"></div>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d120057.566463629!2d-102.53299034750682!3d19.89070959326888!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842e8b3479637697%3A0x9b95cae178126fb3!2sClinica%20Tangamandapio!5e0!3m2!1ses!2sco!4v1606098388731!5m2!1ses!2sco" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <div class="right-cl">
          <h1>Donde nos ubicamos</h1>
          <h4>Telefono +57 311 23 13
          </h4>
          <a>Donde nos ubicamos (si le sale un mapa en Mexico no lo crea, es en Colombia, no es que el desarrollador haya copiado todo el texto de la pagina con "Colombia" y le de pereza cambiarlo por Mexico, gracias)</a>
          <a class="btn btn-1" href="/" >Inicio</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>