<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Tangamandapio | contactenos</title>
    <link rel="stylesheet" href="{{url_for ('static', filename = 'css/contact.css')}}">
</head>
<body>
    <h1>Bienvenido a nuestra clinica, los servicios que ofrecemos son:</h1>
    <h1>Contactenos</h1>
    <h2>Telefono fijo: </h2> <h3> +571 432 32 12 </h3> 
    <h2>Telefono Celular: </h2> <h3> +57 312 2122 22 12 </h3>         
    <h1>Donde nos ubicamos</h1>

    <a href="/">Ir al inicio</a>
</body>
</html>