<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Tangamandapio | Doctors</title>
    <link rel="stylesheet" href="{{url_for ('static', filename = 'css/doctors.css')}}">
</head>
<body>
    <div class="team-member">
    <h1>Los doctores que trabajan en nuestro hospital son:</h1>
    <img src="{{url_for ('static', filename = 'images/doct1.jpg')}}" alt="foto de la doctora Andrea">
    <h2>Andrea, cirujana plastica</h2>
    <img src="{{url_for ('static', filename = 'images/doct2.jpg')}}" alt="foto de la doctora Andrea">
    <h2>Miguel, anesteciologo</h2>
    <img src="{{url_for ('static', filename = 'images/doct3.jpg')}}" alt="foto de la doctora Andrea">
    <h2>Jairo, pediatra</h2>
    <img src="{{url_for ('static', filename = 'images/doct4.jpg')}}" alt="foto de la doctora Andrea">
    <h2>Paulina, endocrinologa</h2>
    <img src="{{url_for ('static', filename = 'images/doct5.jpg')}}" alt="foto de la doctora Andrea">
    <h2>Andres, farmaceuta</h2></div>


    <a href="/">Regresar al inicio</a>
</body>
</html>