<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Tangamandapio | Home</title>
    <link rel="stylesheet" href="{{url_for ('static', filename = 'css/home.css')}}">
   <body>
    </body>
    <div class="container">
        <h1>⠀⠀⠀⠀⠀⠀⠀⠀Bienvenido al Hospital Tangamandapio⠀⠀⠀⠀⠀⠀⠀⠀⠀</h1>
        <a class="btn btn-1" href="/" >Inicio</a>
        <a class="btn btn-2" href="/doctors" >Doctores</a>
        <a class="btn btn-3" href="/services" >Servicios</a>
        <a class="btn btn-4" href="/abaout" >Sobre nosotros</a> 
        <a class="btn btn-5" href="/contact" >Contractenos</a>
      </div>