<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Tangamandapio | servicios</title>
    <link rel="stylesheet" href="{{url_for ('static', filename = 'css/services.css')}}">
</head>
<body>
    <h1>Bienvenido a nuestra clinica, los servicios que ofrecemos son:</h1>
    <h1>OFTALMOLOGIA</h1>
    <h2>Contamos con el personal mas edoneo para el cuidado de tus ojos en la acturalidad y en
        el futuro, ademas nos respaldan años de servicio como una de las primeras clinicas 
        oftalmologicas del pais</h2>        
    <h1>ENDOCRINOLOGIA</h1>
    <h2>Desde el año 2008 incurcionamos en la endocrinologia con el fin de alivianar el peso en 
        el sistema hospitalario en los aumentos de Cancer tanto en infantes como en adultos.</h2>
    <h1>ODONTOLOGIA</h1>
    <h2>Tanto odontologia estetica como funcional hacen de nuestra clinica una de las mas reconocidas
        en todo tipo de prodecimientos en turistas del sector medico al pais</h2>
    <h1>URGENCIAS VETERINARIAS</h1>
    <h2>Atendemos tambien urgencias veterinarias, las 24 horas del dia, los 7 dias de la semana
        siempre buscamos lo mejor para nuestros pacientes sin importar su cantidad de piernas o en cuantas
        caminen</h2>
    <h1>FISIOTERAPIA</h1>
    <h2>En conjunto con la agencia nacional del deporte ofrecemos servicios de fisioterapia desde el año 2010,
        atendemos todo tipo de urgencias y asistencias a deportistas o personas que lo necesiten</h2>
    
    <img src="{{url_for ('static', filename = 'images/l.jpeg')}}" alt="foto de lior">
    <a href="hey">Vamos a la ruta hey</a>
</body>
</html>